<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration Page</title>
</head>
<body>
	<div class="sub_container">
	<h3>Registrati compilando i seguenti campi</h3>
	
	<form action="RegistrationAgent" method="POST">
		<table>
		<tr><th>Username: </th> <td><input type="text" name="username" placeholder="MarioRossi@gmail.com" required></td></tr>
		<tr><th>Name: </th> <td><input type="text" name="name" placeholder="Mario" required></td></tr>
		<tr><th>Surname: </th> <td><input type="text" name="surname" placeholder="Rossi" required></td></tr>
		<tr><th>Password: </th> <td><input type="password" name="pw" placeholder="********" required></td></tr>
		<tr><th>Ripeti Password: </th> <td><input type="password" name="ripeti_pw" placeholder="********" required></td></tr>
		<tr><td><input type="submit" value="Submit"></td></tr>
		</table>
		<p class = "errore" th:text=" ${errorReg}"></p>
		<p class = "correct" th:text=" ${correctReg}"></p>
	</form>
	</div>
	<a href="#" onclick="history.go(-1)">Go Back</a>
</body>
</html>