<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" href="/CSS/style.css" th:href="@{/css/style.css}" />
    <title>Dettagli Documento</title>
</head>
<body class="start">
    <div class="basic">
        <div class="welcome">
            <h1>Document Details</h1>
        </div>
        <div class="divsignup">
            <p><strong>Name:</strong> <span th:text="${document.name}"></span></p>
            <p><strong>Summary:</strong> <span th:text="${document.summary}"></span></p>
            <p><strong>Type:</strong> <span th:text="${document.type}"></span></p>
        </div>
    </div>
    <br>
    <a href="#" onclick="history.go(-1)">Go Back</a>
</body>
</html>